<?php  if (!defined('BASEPATH')) exit('No direct script access allowed'); ?><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{title}</title>
    <script type="text/javascript" src="{base_url}themes/system/js/jquery-1.10.2.min.js"></script>
</head>

<!-- Этот шаблон вы можете изменить сами 
Чтобы шаблон заработал, нужно отключить интеграцию с шаблоном GameAP,
для этого откройте gmon_config.php и переменной $config['gmon_gameap_template']	укажите значение false
-->

{content}


<!-- Не ждите помощи от разработчика, если удалите копирайт. Комментарий можно удалить =) -->
<p class="copyright">Gmon [GameAP Module] <br />{lang_developer}: ET-NiK | <a href="http://www.gameap.ru">www.GameAP.ru</a></p>
